<div class="row">
    <div class="col-md-4">
        <h4 class="mb-4">Task Form</h4>
        <div class="mb-3">
            <label class="form-label">Employee</label>
            <select [(ngModel)]="item.employee"  class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option [value]="item.name" *ngFor="let item of gs.employees" > {{item.name}} </option>
              </select>  
        </div>
        <div class="mb-3">
            <label class="form-label">Task</label>
            <input [(ngModel)]="item.task"  type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Date</label>
            <input [(ngModel)]="item.date"  type="text" class="form-control">
        </div>
        <div class="d-flex justify-content-between">
            <button type="submit" (click)="add_to_list()" class="btn btn-primary">Add in list</button>
            <button type="submit" (click)="update_in_list()" class="btn btn-primary">Update in list</button>
        </div>
    </div>
    <div class="col-md-8">
        <h4 class="mb-3">Task List</h4>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Employee Name</th>
                    <th scope="col">Task</th>
                    <th scope="col">Date</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items; let i=index ">
                    <th scope="row"> {{item.id}} </th>
                    <td>{{item.employee}}</td>
                    <td>{{item.task}}</td>
                    <td>{{item.date}}</td>
                    <td>
                        <button class="btn btn-primary btn-sm" routerLink="/tasks" [queryParams]="{id : item.id}"  >Edit</button>
                        <button class="btn btn-primary btn-sm ms-2" (click)="delete_from_list(i)" >Delete</button>
                      </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>