<div class="row">
    <div class="col-md-4">
        <h4 class="mb-4">Employee Form</h4>
        <form [formGroup]="form" >
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input formControlName="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Gender</label>
            <input formControlName="gender" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">City</label>
            <input formControlName="city" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="d-flex justify-content-between">
            <button type="submit" (click)="add_to_list()" class="btn btn-primary">Add to List</button> 
            <button type="submit" (click)="update_in_list()" class="btn btn-primary">Update in List</button>

        </div>
    </form>
    </div>
    <div class="col-md-8">
        <h4 class="mb-4">Employee List</h4>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">City</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items; let i=index ">
                <th scope="row"> {{item.id}} </th>
                <td>{{item.name}}</td>
                <td>{{item.gender}}</td>
                <td>{{item.city}}</td>
                <td>
                    <button class="btn btn-primary btn-sm" routerLink="/employees" [queryParams]="{id : item.id}"  >Edit</button>
                    <button class="btn btn-primary btn-sm ms-2" (click)="delete_from_list(i)" >Delete</button>
                  </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>