<div class="d-flex flex-column justify-content-between" style="height:100vh">
  <div class="d-flex align-items-center justify-content-between px-4 py-2 bg-light">
    <h3 class="mb-0">Hello World</h3>
    <div class="d-flex gap-2">
      <button class="btn btn-primary"routerLink="/employees">Employees</button>
      <button class="btn btn-primary"routerLink="/tasks">Tasks</button>
    </div>
  </div>

  <app-toast></app-toast>

 <div class="flex-grow-1 px-4 pt-4">
  <router-outlet></router-outlet>
 </div>

  <div>
    <h3 class="mb-0 text-center" *ngIf="router.url.includes('/employees')">You have {{gs.employees.length}} items</h3>
    <h3 class="mb-0 text-center" *ngIf="router.url.includes('/tasks')">You have {{gs.tasks.length}} items</h3>
  </div>
</div>